/* VARS */
:root {
  --beige: #F6F3EC;
  --dark-beige: #AFAFA5;
  --darker-beige: #7b7b71;
  --yellow: #ECDA77;
  --green: #D3DBB6;
  
  --background-color: var(--beige);

  --modal-shadow: 0 0 30px rgba(0, 0, 0, 0.20);

  --font-standard: 16px;

  --border: 2px solid var(--dark-beige);
  --border-light: 1px solid var(--dark-beige);

  --height-modal: 400px;

  --color-font-standard: var(--darker-beige);

  --font-family: monospace;
}

.darkmode {
  --background-color: white;
}

button {
  cursor: pointer;
}

/* HELPERS */
.d-none {
  display: none;
}

/* MODAL STYLES */
.tippy-content {
  align-items: center;
  background-color: var(--background-color);
  border-bottom-width: 4px;
  border: var(--border);
  color: var(--color-font-standard);
  display: flex;
  height: 480px;
  padding: 0px;
  width: 640px;
  font-family: var(--font-family);

  

  /* rest of styling in here so style only applies to the modal */
  h3 {
    font-size: 16px;
    font-family: var(--font-family);
    margin: 10px 15px;
  }
  
  .product-tooltip-wrapper {
    width: 100%;
    overflow: scroll;
    height: 474px;
    scrollbar-width: none;
  
    .loader {
      display: none;
    }
    
  }
  
  .product-tooltip-wrapper.loading {
    .loader {
      display: flex;
      width: 100%;
      justify-content: center;
      height: 474px;
      align-items: center;
      font-size: 24px;
    }
  
    .container button{
      display: none;
    }
  }
  
  .button {
    font: var(--font-standard);
    border: var(--border-light);
    font-variant-caps: small-caps;
    height: 30px;
    padding: 0 10px;
    border-radius: 1px;
  
    &.thick {
      border-bottom-width: 2px;
    }
  }
  
  .slideshow {
    max-height: 400px;
    margin: auto;
  
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  }
  
  .loading {
    .gallery {
      .prev, .next {
        display: none;
      }
    }
    .spec {
      display: none;
    }
    .review {
      display: none;
    }
  }
  
  .container {
    margin-bottom: 20px;
  }
  
  /* TOOL BAR */
  .toolbar {
    align-items: center;
    background-color: var(--background-color);
    border-bottom: var(--border-light);
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 2;
    
    button {
      font-size: 12px;
      height: 24px;
    }
  
    .nav {
      display: flex;
      gap: 10px;
    }
  }
  
  /* GALLERY STYLES */
  .container.gallery {
    padding: 8px 20px 20px;
    position: relative;
    
  
    .prev, .next {
      align-items: center;
      bottom: -5px;
      display: flex;
      font-size: 16px;
      height: 25px;
      justify-content: center;
      line-height: 0;
      padding: 0;
      position: absolute;
      width: 25px;
  
      &:hover {
        backdrop-filter: blur(3px);
      }
    }
  
    .next {
      right: 20px;
    }
  
    .prev {
      left: 20px;
    }
  }
  
  /* DESCRIPTION STYLES */
  .container.description {
    margin: 0 30px;

    h3 {
      margin: 10px 0;
    }
  }
  
  /* REVIEW STYLES */
  .review {
    h3 {
      margin: 10px 30px;
    }
  
    & > div {
      margin: 1px;
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      padding: 0 28px;
      gap: 5px;
  
      &:hover {
        background-color: var(--green);
      }
    }
  }
  .pure-g .bold, .pure-g .verified, .helpful-form {
    display: none;
  }
  
  .margin-tb-10 {
    margin: 0;
  }
}